@import "../../../../styles/mixins/responsive.scss";

.shareBtn {
  right: 0px;
  background-color: white;
  border: 1px solid #333;
  padding: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  span {
    @include mobile {
      display: none;
    }
  }
}