@import "../../../styles/colors.scss";

.itinerary {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
    color: $primary-color;
  }

  .title {
    margin-bottom: 20px;
  }

  .days {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dayno {
      font-weight: bold;
    }
  }
}