@import "../../../styles/mixins/responsive.scss";

.hero {
  margin-top: -100px;
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    height: 70vh;
  }

  .image {
    object-fit: cover;
  }

  .title {
    position: absolute;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    text-align: center;

    .countryName {
      text-transform: capitalize;
    }
  }

}