@import "../../../styles/mixins/responsive.scss";

.detailedItinerary {
  .title {
    font-size: 2rem;
    margin-bottom: 50px;

    @include mobile {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .days {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .day {
      .head {
        margin-bottom: 10px;
        font-size: 18px;
        padding: 10px 0px;

        @include mobile {
          font-size: 1rem;
        }
      }

      .desc {
        p {
          font-size: 14px;
        }
      }
    }
  }
}