@import "../../../styles/colors.scss";

.paymentSummary {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .no {
    font-size: 1.1rem;
    padding: 10px 0px;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .referral {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 0px;

    .input {
      padding: 10px 5px;
      font-size: 0.9rem;
      width: 100%;
      margin-bottom: 10px;
    }

    .btn {
      padding: 10px;
      font-size: 0.9rem;
      background-color: transparent;
      border: 1px solid #333;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: #333;
        color: white;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .totalAmountDue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 20px 10px;
    color: white;
    font-size: 1.1rem;

    .price {
      font-weight: bold;
    }
  }
}