.trekking {
  .shortDesc {
    margin: 50px 0px;

    p {
      text-align: justify;
    }
  }

  .importantLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .trekkingAreas {
    .areaSection {
      .areaDescription {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .areaTitle {
          font-size: 2rem;
        }

        margin-bottom: 20px;
      }
    }
  }
}