.trekking {
  .shortDesc {
    margin: 50px 0px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .08rem;
    line-height: 1.8rem;
  }

  .importantLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .trekkingAreas {
    .areaSection {
      .areaDescription {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .areaTitle {
          font-size: 2rem;
        }

        margin-bottom: 20px;
      }
    }
  }
}