@import "../../../styles/mixins/responsive.scss";

.testimonial {

  .title {
    margin-bottom: 50px;
    font-size: 2rem;

    @include mobile {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  .mySwiper {

    height: 250px;

    .swiperCard {
      width: 400px;
      height: 250px;
    }

  }
}