.tripfacts {
  background-color: #B4FE98;
  padding: 20px;

  .title {
    margin-bottom: 10px;
    background-color: white;
  }

  .tFacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tFact {
      display: flex;
      gap: 5px;
      border-bottom: 1px solid #333;
      padding-bottom: 5px;

      .head {
        font-weight: bold;
      }
    }
  }
}