@import "../../../styles/mixins/responsive.scss";

.popular {

  .destinations {
    display: flex;
    gap: 50px;

    @include mobile {
      gap: 20px;
      flex-direction: column;
    }

    .destination {
      width: 400px;
      height: 500px;

      @include mobile {
        width: 100%;
        height: 200px;
      }
    }

  }
}