@import "../../../styles/mixins/responsive.scss";

.popular {
  .titles {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .subtitle {
      font-size: 18px;
      font-weight: light;
    }

    .title {
      font-size: 2rem;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  .destinations {
    display: flex;
    gap: 50px;

    @include mobile {
      gap: 20px;
      flex-direction: column;
    }

    .destination {
      width: 400px;
      height: 500px;

      @include mobile {
        width: 100%;
        height: 200px;
      }
    }

  }
}