.data {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 20px;

  &:first-of-type {
    background-color: #A2FF86;
  }

  &:nth-of-type(2) {
    background-color: #45CFDD;
  }

  &:last-of-type {
    background-color: #FFFEC4;
  }

  .label {
    font-size: 22px;
    font-weight: bold;
  }

  .answer {
    font-size: 16px;
  }
}