.footer {
  padding: 20px 0px;
  border-top: 1px solid #333;

  .backtotop {
    display: inline-flex;
    margin-bottom: 50px;
    align-items: center;
    gap: 20px;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .items {
      display: flex;
      gap: 50px;

      .title {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 16px;
        font-weight: light;

        .link {
          cursor: pointer;
        }
      }
    }

    .featuredTweet {
      width: 500px;
      height: 210px;
      overflow: hidden;
    }

    margin-bottom: 20px;
  }

  .companystrip {
    width: 100%;
    height: fit-content;
    font-weight: bold;
    border-top: 1px solid #333;
  }
}