.card {
  font-size: 14px;

  p {
    font-size: 14px;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .by {
      font-weight: bold;
    }
  }
}