@import "../../../styles/colors.scss";

.links {
  display: flex;
  align-items: center;
  gap: 50px;

  .useful_links {
    display: flex;
    align-items: center;
    gap: 50px;

    .link {
      color: $primary-color;
      text-decoration: underline;

      &:visited {
        color: $link-visited;
      }
    }
  }
}