@import "../../../styles/mixins/responsive.scss";

.activities {
  width: 100%;

  .titles {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .subtitle {
      font-size: 18px;
      font-weight: light;
    }

    .title {
      font-size: 2rem;

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .element {
      width: 100%;
    }
  }

}