@import "../../../styles/mixins/responsive.scss";

.activities {
  width: 100%;

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .element {
      width: 100%;
    }
  }

}