.latestUpdate {
  .title {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .updates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    .update {
      &:first-of-type {
        grid-area: 1 / 1 / 2 / 3;
      }

      &:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
      }

      &:last-of-type {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}