@import "../../styles/colors.scss";

.booking {
  margin: 50px 0px;
  height: calc(100vh + fit-content);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .dates {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    position: relative;

    .start,
    .end {
      font-size: 1.3rem;
    }

    i {
      font-size: 18px;
      padding: 5px;
      border: 1px solid #333;
      border-radius: 50px;
    }
  }

  .payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .transaction {
      display: flex;
      gap: 10px;
      font-size: 1rem;
      color: #8b8b8b;
    }

    .details {
      display: flex;
      gap: 10px;

      .left {
        flex: 3;
      }

      .right {
        flex: 1;
        width: 100%;

        .no {
          font-size: 1.1rem;
          padding: 10px 0px;
          border-top: 1px solid #909090;
          border-bottom: 1px solid #909090;
          margin: 20px 0px;
        }

        .items {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .totalAmountDue {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 50px;
          background-color: $primary-color;
          padding: 20px 10px;
          color: white;
          font-size: 1.1rem;

          .price {
            font-weight: bold;
          }
        }
      }
    }
  }
}