.pricelist {
  background-color: #FFD6A5;
  padding: 20px;

  .title {
    background-color: white;
    margin-bottom: 10px;
  }

  .lists {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .list {
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
    }
  }
}